In [1]:
all_RDD = sc.wholeTextFiles("FileStore/tables/city_data")

x1 = all_RDD.flatMapValues(lambda t: t.split("\r\n"))
x2 = x1.values()
x3 = x2.map(lambda t : int(t.split(" ")[1]))
seqOp = (lambda local_result, list_element: (local_result[0] + list_element,
local_result[1] + 1) )
combOp = (lambda some_local_result, another_local_result:
(some_local_result[0] + another_local_result[0], some_local_result[1] +
another_local_result[1]) )
avg_fr = x3.aggregate( (0, 0), seqOp, combOp)
print(avg_fr[0]/avg_fr[1])                              #Average monthly income of the shop in France

In [2]:
all_RDD = sc.wholeTextFiles("FileStore/tables/city_data")
x1 = all_RDD.flatMapValues(lambda t: t.split("\r\n"))
x2 = x1.mapValues(lambda t : int(t.split(" ")[1]))
tot_store = x2.reduceByKey(lambda t,z: t+z)

tot_store.collect()                   #Total revenue per store per year

In [3]:
  x4 = tot_store.map(lambda (t,z) : (z,t))
  x5 = x4.mapValues(lambda t : t if t[-6]!='_' else t[:-6]+".txt")
  x6 = x5.map(lambda(t,z) : (z,t))
  tot_city = x6.reduceByKey(lambda t,z: t+z)

  tot_city.collect()                   #Total revenue per city per year

In [4]:
avg_city = tot_city.mapValues(lambda t : t/12)
avg_city.collect()                   #Average monthly income of the shop in each city

In [6]:
all_RDD = sc.wholeTextFiles("FileStore/tables/city_data/")
all_RDD.collect()